<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <style>
        .collapsing 
        {
            filter: blur(4px);
        }
    </style>
    <title>Chats</title>
</head>
<body style="background-color:  #f2f2f2;">
    <div class="container-fluid-sm" style="background-color:  #f2f2f2;">
        <nav style="background-color:#409ad6">
            <a class="navbar-brand" style="color: white; font-family: monospace; font-size: 25px;" href="#">Matcha</a>
            <button  style="float: right; color: white;" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav">
                |||
            </button>
            <div id="nav" class="collapse navbar-collapse">
                <ul  style="list-style-type: none;">
                    <li >
                        <a style="color: white; font-family: monospace;" href="/profile">profile</a>
                    </li>
                    <li >
                        <a style="color: white; font-family: monospace;" href="/home">Home</a>
                    </li>
                    <li>
                        <a style="color: white; font-family: monospace;" href="/search">Search</a>
                    </li>
                    <li>
                        <%
                            if (info == "user is ghosted")
                            {
                                var unread_message = "no";
                            }
                            if (unread_message == "yes")
                            {
                        %>
                            <a style="color: white; font-family: monospace;" href="/chat_screen">Chat (Unread message)</a>
                        <%
                            }
                            else
                            {
                        %>
                            <a style="color: white; font-family: monospace;" href="/chat_screen">Chat</a>
                        <%
                            }
                        %>
                    </li>
                    <li>
                        <a style="color: white; font-family: monospace;" href="/view_history">view_history</a>
                    </li>
                    <li>
                        <a style="color: white; font-family: monospace;" href="/visit_history">visit_history</a>
                    </li>
                    <li>
                        <a style="color: white; font-family: monospace;" href="/like_history">like history</a>
                    </li>
                    <li>
                        <%
                            if (info == "user is ghosted")
                            {
                        %>
                                <a style="color: white; font-family: monospace;" href="/check_profile">Extended profile</a>
                        <%
                            }
                            else
                            {
                        %>
                                <a style="color: white; font-family: monospace;" href="/profile_settings">Profile Setting</a>
                        <%
                            }
                        %>
                    </li>
                    <li>
                        <a style="color: white; font-family: monospace;" href="/logout">logout</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="shadow" style="background-color: white; width: 70%; margin: auto; border-radius: 20px; margin-top: 125px;">
            <%
                if (info == "user is ghosted")
                {
            %>
                    <p>This feature is not availble for you. In order to enable this feature, you need to complete your extended profile.</p>
            <%
                }
                else
                {
                    let x = 0;
                    while (data[x])
                    {
            %>
                            <div class="row">
                                    <img style="border-radius: 50%; width: 150px; height: 130px; margin-left: 20%;" src=<%=data[x].profile_pic%>>       
                                    <p><%=data[x].username%></p>
                                    <div class="col-sm-5" style="margin-left: 5%;">
                                        <form action="/chat" method="post">
                                            <input class="btn btn-info btn-block" style="width: 100px; margin-top: 5px;" type="submit" name="submit" value="chat">
                                            <input type="hidden" name="user_liked" value=<%=data[x].user_id%>>
                                        </form>
                                        <form action="/unlike" method="post">
                                            <input class="btn btn-info btn-block" style="width: 100px; margin-top: 5px;" type="submit" name="submit" value="unlike">
                                            <input type="hidden" name="unlike_this_user" value=<%=data[x].user_id%>>
                                        </form>
                                        <form action="/block" method="post">
                                            <input class="btn btn-info btn-block" style="width: 100px; margin-top: 5px;"type="submit" name="submit" value="block">
                                            <input type="hidden" name="block_this_user" value=<%=data[x].user_id%>>
                                        </form>
                                    </div>
                            </div>
                            <hr />
            <%
                        x++;
                    }
                }
            %>
        </div>
    </div>
    <footer class="fixed-bottom" style="margin-top: 500px; background-color: #409ad6; font-family: monospace; color: white; height: 45px; text-align: center;">© 2020 matcha project</footer>
</body>
</html>