<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <style>
        .collapsing 
        {
            filter: blur(4px);
        }
    </style>
    <title>Search</title>
</head>
<body>
    <div class="container-fluid-sm" style="background-color:  #f2f2f2;">
        <nav style="background-color:#409ad6">
            <a class="navbar-brand" style="color: white; font-family: monospace; font-size: 25px;" href="#">Matcha</a>
            <button  style="float: right; color: white;" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav">
                |||
            </button>
            <div id="nav" class="collapse navbar-collapse">
                <ul  style="list-style-type: none;">
                    <li >
                        <a style="color: white; font-family: monospace;" href="/profile">profile</a>
                    </li>
                    <li >
                        <a style="color: white; font-family: monospace;" href="/home">Home</a>
                    </li>
                    <li>
                        <a style="color: white; font-family: monospace;" href="/search">Search</a>
                    </li>
                    <li>
                        <%
                            if (info == "user is ghosted")
                            {
                                var unread_message = "no";
                            }
                            if (unread_message == "yes")
                            {
                        %>
                            <a style="color: white; font-family: monospace;" href="/chat_screen">Chat (Unread message)</a>
                        <%
                            }
                            else
                            {
                        %>
                            <a style="color: white; font-family: monospace;" href="/chat_screen">Chat</a>
                        <%
                            }
                        %>
                    </li>
                    <li>
                        <a style="color: white; font-family: monospace;" href="/view_history">view_history</a>
                    </li>
                    <li>
                        <a style="color: white; font-family: monospace;" href="/visit_history">visit_history</a>
                    </li>
                    <li>
                        <a style="color: white; font-family: monospace;" href="/like_history">like history</a>
                    </li>
                    <li>
                        <%
                            if (info == "user is ghosted")
                            {
                        %>
                                <a style="color: white; font-family: monospace;" href="/check_profile">Extended profile</a>
                        <%
                            }
                            else
                            {
                        %>
                                <a style="color: white; font-family: monospace;" href="/profile_settings">Profile Setting</a>
                        <%
                            }
                        %>
                    </li>
                    <li>
                        <a style="color: white; font-family: monospace;" href="/logout">logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    <div class="row" style="margin-top: 15px; margin-left: 15px; margin-right: 15px;">
        <div class="col-sm-3" style="background-color: white; border: 1px solid #d9d9d9; margin-bottom: 15px;">
            <div style="margin-left: 20%; margin-right: 20%;">
                <br />
                <form action="/search" method="post">
                    <button class="btn btn-info btn-block" type="button" data-toggle="collapse" data-target="#age_search">age</button>
                    <br />
                    <div style="margin-left: -10%;" id="age_search" class="collapse">
                        <input type="number" name="age_start" min="18" placeholder="Minimum age">
                        <br />
                        <br />
                        <input type="number" name="age_end" min="18"  placeholder="Maximum age">
                        <br />
                        <br />
                    </div>
                    <button class="btn btn-info btn-block" type="button" data-toggle="collapse" data-target="#fame_search">Fame</button>
                    <br />
                    <div style="margin-left: -10%;" id="fame_search" class="collapse">
                        <input type="number" name="fame_start" min="0" placeholder="Minimum fame">
                        <br />
                        <br />
                        <input type="number" name="fame_end" min="0" placeholder="Maximum fame">
                        <br />
                        <br />
                    </div>
                    <button class="btn btn-info btn-block" type="button" data-toggle="collapse" data-target="#location_search">location</button>
                    <br />
                    <div style="margin-left: -10%;" id="location_search"class="collapse">
                        <input type="number" name="location" min="0" placeholder="Location">
                        <br />
                        <br />
                    </div>
                    <button class="btn btn-info btn-block" type="button" data-toggle="collapse" data-target="#interest_search">Interests</button>
                    <div style="margin-left: 25%;" id="interest_search"class="collapse">
                        <%
                        if (info == "")
                        {
                        %>
                            <br />
                            <input type="checkbox" name="interest1" value="Reading">Reading
                            <br />
                            <input type="checkbox" name="interest2" value="Singing">Singing
                            <br />
                            <input type="checkbox" name="interest3" value="Movies">Movies
                            <br />
                            <input type="checkbox" name="interest4" value="Nature">Nature
                            <br />
                            <input type="checkbox" name="interest5" value="Running">Running
                            <br />
                            <br />
                        <%
                            }
                        %>
                    </div>
                    <br />
                    <input class="btn btn-danger btn-block" type="submit" name="submit" value="search">
                </form>
            </div>
            <hr />
            <div style="margin-left: 20%; margin-right: 20%;">
                <form action="/search/sort_results" method="post">
                    <button class="btn btn-info btn-block" type="button" data-toggle="collapse" data-target="#age_sort">age</button>
                    <div style="margin-left: 20%;" id="age_sort"class="collapse">
                        <br />
                        <input type="radio" name="age_sort" value="asc">asc
                        <input type="radio" name="age_sort" value="desc">desc
                        <br />
                    </div>
                    <br />
                    <button class="btn btn-info btn-block" type="button" data-toggle="collapse" data-target="#location_sort">Location</button>
                    <div style="margin-left: 20%;" id="location_sort"class="collapse">
                        <br />
                        <input type="radio" name="location_sort" value="asc">asc
                        <input type="radio" name="location_sort" value="desc">desc
                        <br />
                    </div>
                    <br />
                    <button class="btn btn-info btn-block" type="button" data-toggle="collapse" data-target="#fame_sort">Fame rating</button>
                    <div style="margin-left: 20%;" id="fame_sort"class="collapse">
                        <br />
                        <input type="radio" name="fame_sort" value="asc">asc
                        <input type="radio" name="fame_sort" value="desc">desc
                        <br />
                    </div>
                    <br />
                    <button class="btn btn-info btn-block" type="button" data-toggle="collapse" data-target="#tag_sort">Common tags</button>
                    <div style="margin-left: 20%;" id="tag_sort"class="collapse">
                        <br />
                            <%
                                if (info == "")
                                {   
                                %>
                                    <input type="radio" name="tags_sort" value="asc">asc
                                    <input type="radio" name="tags_sort" value="desc">desc
                                    <br />
                                <%
                                }
                            %>
                    </div>
                    <br />
                    <input class="btn btn-danger btn-block" type="submit" name="submit" value="sort">
                    <br />
                    <input class="btn btn-danger btn-block" type="submit" name="submit" value="unsort">
                </form>
            </div>
            <hr />
            <div style="margin-left: 20%; margin-right: 20%;">
                <form action="/search/filter_results" method="post">
                    <button class="btn btn-info btn-block" type="button" data-toggle="collapse" data-target="#age_filter">Age</button>
                    <div style="margin-left: -10%;" id="age_filter"class="collapse">
                        <br />
                        <input type="text" name="age_filter" placeholder="Age">
                        <br />
                    </div>
                    <br />
                    <button class="btn btn-info btn-block" type="button" data-toggle="collapse" data-target="#location_filter">Location</button>
                    <div style="margin-left: -10%;" id="location_filter"class="collapse">
                        <br />
                        <input type="number" min="0" name="location_filter" placeholder="location">
                        <br />
                    </div>
                    <br />
                    <button class="btn btn-info btn-block" type="button" data-toggle="collapse" data-target="#fame_filter">Fame</button>
                    <div style="margin-left: -10%;" id="fame_filter"class="collapse">
                        <br />
                        <input type="text" name="fame_filter" placeholder="Fame">
                        <br />
                    </div>
                    <br />
                    <button class="btn btn-info btn-block" type="button" data-toggle="collapse" data-target="#tags_filter">Common tags</button>
                    <div style="margin-left: 25%;" id="tags_filter"class="collapse">
                        <br />
                        <%
                        if (info == "")
                        {
                        %>
                            <input type="checkbox" name="interest1" value="Reading">Reading
                            <br />
                            <input type="checkbox" name="interest2" value="Singing">Singing
                            <br />
                            <input type="checkbox" name="interest3" value="Movies">Movies
                            <br />
                            <input type="checkbox" name="interest4" value="Nature">Nature
                            <br />
                            <input type="checkbox" name="interest5" value="Running">Running
                            <br />
                        <%
                        }
                        %>
                    </div>
                    <br />
                    <input class="btn btn-danger btn-block" type="submit" name="submit" value="filter">
                    <br />
                    <input class="btn btn-danger btn-block" type="submit" name="submit" value="unfilter">
                    <br />
                </form>
            </div>
        </div>
        <div class="col-sm-8" style="margin-left: auto; margin-right: auto; background-color: white; border: 1px solid #d9d9d9;">
            <p>Results:</p>
            <div>
                <%
                if (results)
                {
                    var x = 0;
                    while (results[x])
                    {
                        if (results[x] != "Dont")
                        {%>
                            <div class="shadow" style="margin-left: auto; margin-right: auto; border: 1px solid #f2f2f2; width: 260px; border-radius: 15px;">
                                <form action="/user_profile" method="post">
                                    <%
                                        if (results[x].profile_pic != "Not_staged")
                                        {
                                    %>
                                            <% if (results[x].profile_pic[0] == 'U') { %>
                                                <img src=<%="http://localhost:3002/"+results[x].profile_pic%> width="250px" height="245px" style="border-radius: 50%; margin-left: 5px;">
                                                <br />
                                            <%
                                               } else {
                                            %>
                                                <img src=<%=results[x].profile_pic%> width="250px" height="245px" style="border-radius: 50%; margin-left: 5px;">
                                                <br />
                                            <%
                                               }
                                            %>
                                    <%
                                        }
                                        else
                                        {
                                    %>
                                            <img src="../Uploads/stock_profile_pic.png" width="250px" height="245px" style="border-radius: 50%; margin-left: 25px;">
                                            <br />
                                    <%
                                        }
                                    %>
                                    <span style="font-size: 30px;">Username: <%=results[x].username%></span>
                                    <br />
                                    <span style="font-size: 30px;">Bio: <%=results[x].bio%></span>
                                    <br />
                                    <span style="font-size: 30px;">Age <%=results[x].age%></span>
                                    <br />
                                    <span style="font-size: 30px;">Km's away: <%=results[x].distance_from_me%></span>
                                    <input type="hidden" name="user_id" value=<%=results[x].user_id%>>
                                    <br />
                                    <%
                                        if (info == "") 
                                        {
                                    %>
                                    <input class="btn btn-info" style="margin-left: 28%; margin-right: 40%;" type="submit" name="submit" value="view profile">
                                    <br />
                                    <br />
                                    <%
                                        }
                                    %>
                                </form>
                            </div>
                    <%
                        }
                        x++;
                        %>
                        <br />
                        <%
                    }
                }
                %>
            </div>
            <br />
        </div>
    </div>
    <br />
    <footer class="fixed-bottom" style="margin-top: 500px; background-color: #409ad6; font-family: monospace; color: white; height: 45px; text-align: center;">© 2020 matcha project</footer>
</body>
</html>